.BookDetail {
  display: grid;
  grid-column-gap: 24px;
  grid-template-columns: 1fr;
  grid-template-areas: 'title' 'cover' 'description';
  padding-bottom: 60px;

  @include min-width('md') {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'cover title' 'cover description' 'cover .';
  }
}

.BookDetail__title {
  color: hsl(0, 0, 20);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 2px;
}

.BookDetail__authors {
  color: hsl(0, 0, 50);
  font-size: 14px;
}

.BookDetail__cover {
  padding: 24px 0;

  @include min-width('md') {
    padding-top: 0;
    padding-bottom: 18px;
  }
}

.BookDetail__cover img {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
  display: block;
  margin: 0 auto;
  max-width: 200px;
  width: 100%;

  @include min-width('sm') {
    max-width: 300px;
  }

  @include min-width('md') {
    max-width: unset;
  }
}

.BookDetail__description {
  color: hsl(0, 0, 30);
  font-size: 16px;
  line-height: 1.2;
  padding: 16px 0;

  p {
    margin-bottom: 8px;
  }

  b {
    font-weight: 600;
  }

  i {
    font-style: italic;
  }
}

// .BookDetail__button {
//   // margin: 12px 0;
// }

.BookDetail__title-area {
  grid-area: title;
}

.BookDetail__cover-area {
  grid-area: cover;
}

.BookDetail__description-area {
  grid-area: description;
}
