.Button {
  background-color: slateblue;
  border: 0;
  font-size: 16px;
  line-height: 18px;
  padding: 0;
  height: 46px;

  &:focus {
    outline: 0;
  }
}

.Button--solid {
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 4px;
  color: #fff;
  padding: 0 16px;

  &:hover {
    background-color: var(--hover-bg-color);
    border-color: var(--hover-bg-color);
  }

  &:active {
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
  }

  &:focus {
    background-color: red;
  }
}

.Button--outline {
  background-color: transparent;
  border: 2px solid var(--main-color);
  border-radius: 4px;
  color: var(--main-color);
  padding: 0 16px;

  &:hover {
    background-color: var(--hover-bg-color);
    border-color: var(--hover-bg-color);
    color: #fff;
  }

  &:active {
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
  }
}

.Button--text {
  background-color: transparent;
  border: 2px solid transparent;
  color: var(--main-color);
}

.Button--primary {
  --main-color: #{$color-primary};
  --hover-bg-color: #{$color-primary-dark};
}

.Button--full-width {
  width: 100%;
}
