.Input {
  border: 1px solid hsl(0, 0, 80);
  border-radius: 4px;
  font-size: 16px;
  height: 46px;
  padding: 0 16px;
}

.Input--with-icon {
  padding-left: 52px;
}

.Input__icon {
  align-items: center;
  color: hsl(0, 0, 50);
  display: flex;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  padding: 0 16px;
}
