// Abstracts
@import 'abstracts/breakpoints';
@import 'abstracts/colors';

// Base
@import 'base/reset';
@import 'base/base';

// Components
@import 'components/authModal';
@import 'components/authPrompt';
@import 'components/bookDetail';
@import 'components/bookListGrid';
@import 'components/bookModal';
@import 'components/button';
@import 'components/heading';
@import 'components/iconButton';
@import 'components/input';
@import 'components/loadingView';
@import 'components/mainLayout';
@import 'components/mobileMenu';
@import 'components/navBar';
@import 'components/overlay';
@import 'components/readingList';

// Utilities
@import 'utilities/display';

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 16px;
  width: 100%;
}

.modal-open {
  overflow: hidden;
}
