// Abstracts
@import 'abstracts/breakpoints';
@import 'abstracts/colors';

// Base
@import 'base/reset';
@import 'base/base';

// Components
@import 'components/button';
@import 'components/iconButton';
@import 'components/input';

.display-none {
  display: none;
}

.display-md-none {
  @include min-width('md') {
    display: none;
  }
}

.display-md-flex {
  @include min-width('md') {
    display: flex;
  }
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 16px;
}

.NavBar {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 60px;

  @include min-width('md') {
    display: flex;
  }
}

.NavBar__logo-wrapper {
  display: flex;
  justify-content: center;

  @include min-width('md') {
    justify-content: flex-start;
  }
}

.NavBar__logo {
  color: $color-primary;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.NavBar__search-wrapper {
  flex: 1;
  padding: 0 16px;
}

.NavBar__button {
  margin-left: 8px;
}
